<div class="profile_dialog">
  <div class="avatar">
    <img src="../../assets/mother_of_dragons.jpeg"/>
  </div>
  <div class="inline-block">
    <p class="username"><b>Benjamin</b></p>
    <p class="email">benjamin@mycompany.com</p>
    <p><a href="#">Privacy</a></p>
    <button mat-flat-button color="primary" class="account_button"><span>Shield Account</span></button>
  </div>
</div>

<div class="div_buttons">
  <div class="addaccount">
    <button mat-stroked-button class="bt">Add account</button>
  </div>
  <div class="signout">
    <button mat-stroked-button class="bt">Sign out</button>
  </div>
  <!--  <mat-grid-list cols="2" rowHeight="30px">-->

  <!--    <mat-grid-tile class="addaccount">-->
  <!--    </mat-grid-tile>-->
  <!--    <mat-grid-tile class="signout">-->
  <!--    </mat-grid-tile>-->
  <!--  </mat-grid-list>-->
</div>
