.profile_dialog {
  display: flex;
  margin: 0px 0px 5px 0px;
  /*font-size: 13px;*/
}

img {
  width: 100px;
  height: 100px;
  vertical-align: top;
  border-radius: 50%;
}

.avatar {
  margin-right: 5px;
  padding: 0px;
  /*display: flex;*/
}

.inline-block {
  position: relative;
  display: inline;
  padding-left: 20px;
  padding-bottom: 20px;
}

p {
  margin: 2px 0px 2px 0px;
  padding: 0px;
}

.account_button {
  width: 120px;
  /*height: 25px;*/
  margin-top: 10px;
  /*font-size: 10px;*/
  padding: 0px;
  vertical-align: center;
  height: 23px;
  line-height: 22px;
  min-height: 23px;
}
.account_button > span {
  margin-top: 0px;
}

.div_buttons {
  padding-top: 10px;
  border-top: 1px solid #d7d7d7;
}

.bt {
  height: 29px;
  line-height: 28px;
  min-height: 23px;
}

.addaccount {
  float: left;
}
.signout {
  float: right;
}
