.avatar {
  height: 180px;
  width: 180px;
  font-size: 180px;
  margin-top: 10px;
  margin-left: 30px;
}

.div_avatar {
  float: left;
}

.inline-block {
  float: left;
  margin-left: 50px;
}

.description {
  font-size: 16px;
  color: #989898;
}

.team_name {
  font-size: 16px;
  /*color: #989898;*/
  margin-top: 5px;
}

.api_name {
  margin-bottom: 5px;
  font-size: 20px;
}

.bt {
  margin-right: 20px;
}

.api_enabled span {
  font-size: 8px;
}


.api_enabled mat-icon {
  font-size: 12px;
  margin-right: 4px;
}

.div_under_toolbar {
}

.example-container {
  height: 800px;
  margin-top: 30px;
  font-size: 14px;
  border-top: 1px solid #d7d7d7;
}

.nav_left {
  padding-left: 30px;
  width: 230px;
  float: left;
  /*background: #d7d7d7;*/
}

.nav_left p {
  /*padding-top: 20px;*/
}

.nav_right {
  float: left;
  /*padding: 30px;*/
  /*background: #989898;*/
}
.nav_right p {
  padding-top: 0px;
  padding-bottom: 0px;
}

section {
  padding-top: 10px;
  padding-bottom: 10px;
}

