.tab-credentials {
  padding: 10px 30px 30px 20px
}

table {
  width: 100%;
}


.toolbar-spacer {
  flex: 1 1 auto;
}

.td-operations-cells {
  text-align: right;
}

.no_data {
  text-align: center;
}
