<div class="tab-credentials">

  <button mat-button color="primary" [matMenuTriggerFor]="credentialTypesMenu">
    <span>Create credentials</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #credentialTypesMenu="matMenu" xPosition="before">
    <button mat-menu-item matTooltip="Identifies your project using a simple API key to check quota and access"
            matTooltipPosition="right">
      <span>API key</span>
    </button>
    <button mat-menu-item matTooltip="Requests user consent so your app can access the user's data"
            matTooltipPosition="right">
      OAuth2.0 client ID
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>Help me choose</button>
  </mat-menu>
  <button mat-button color="primary" [disabled]="!isAllDeselected()">Delete</button>

  <p>
    <span>API keys</span>
    <button mat-icon-button color="primary" (click)="refreshApikeys()">
      <mat-icon inline="inline">refresh</mat-icon>
    </button>
  </p>


  <div *ngIf="dataSourceApikey && dataSourceApikey.data.length>0">

    <table mat-table [dataSource]="dataSourceApikey" class="mat-elevation-z8">

      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="masterToggleApikey()"
                        [checked]="selectionApikey.hasValue() && isAllApikeysSelected()"
                        [indeterminate]="selectionApikey.hasValue() && !isAllApikeysSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selectionApikey.toggle(row) : null"
                        [checked]="selectionApikey.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element">
          <a (click)="$event.stopPropagation()" [routerLink]="['edit-apikey']">
            {{element.name}}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> Creation date</th>
        <td mat-cell *matCellDef="let element"> {{element.creationDate}} </td>
      </ng-container>

      <ng-container matColumnDef="restrictions">
        <th mat-header-cell *matHeaderCellDef> Restrictions</th>
        <td mat-cell *matCellDef="let element"> {{element.restrictions}} </td>
      </ng-container>

      <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef> Key</th>
        <td mat-cell *matCellDef="let element">
          {{element.key}}
          &nbsp;
          <a mat-icon-button (click)="$event.stopPropagation()">
            <mat-icon inline="true">file_copy</mat-icon>
          </a>

        </td>
      </ng-container>

      <ng-container matColumnDef="operations">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="td-operations-cells">
          <a mat-icon-button (click)="$event.stopPropagation()" [routerLink]="['edit-apikey']">
            <mat-icon inline="inline">edit</mat-icon>
          </a>
          <a mat-icon-button (click)="$event.stopPropagation()">
            <mat-icon inline="inline">delete</mat-icon>
          </a>
          <a mat-icon-button (click)="$event.stopPropagation()">
            <mat-icon inline="inline">save_alt</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsApikey"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsApikey;"
          (click)="selectApikey(row)">
      </tr>
    </table>

  </div>
  <div *ngIf="dataSourceClient && dataSourceClient.data.length == 0" class="no_data">
    <span>You have no API Key</span>
  </div>


  <p>
    <span>OAuth2.0 client IDs</span>
    <button mat-icon-button color="primary" (click)="refreshClients()">
      <mat-icon inline="inline">refresh</mat-icon>
    </button>
  </p>

  <div *ngIf="dataSourceClient && dataSourceClient.data.length>0">

    <table mat-table [dataSource]="dataSourceClient" class="mat-elevation-z8">

      &lt;!&ndash; Checkbox Column &ndash;&gt;
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="masterToggleClient()"
                        [checked]="selectionClient.hasValue() && isAllClientSelected()"
                        [indeterminate]="selectionClient.hasValue() && !isAllClientSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selectionClient.toggle(row) : null"
                        [checked]="selectionClient.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let element">
          <a (click)="$event.stopPropagation()" [routerLink]="['edit-oauth-client', element.clientID]">
            {{element.name}}
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> Creation date</th>
        <td mat-cell *matCellDef="let element"> {{element.creationDate}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type</th>
        <td mat-cell *matCellDef="let element"> {{element.typeLabel}} </td>
      </ng-container>

      <ng-container matColumnDef="clientID">
        <th mat-header-cell *matHeaderCellDef> Client ID</th>
        <td mat-cell *matCellDef="let element">
          {{element.clientID}}
          &nbsp;
          <a mat-icon-button (click)="$event.stopPropagation()">
            <mat-icon inline="true">file_copy</mat-icon>
          </a>

        </td>
      </ng-container>

      <ng-container matColumnDef="operations">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="td-operations-cells">
          <a mat-icon-button (click)="$event.stopPropagation()" [routerLink]="['edit-oauth-client', element.clientID]">
            <mat-icon inline="inline">edit</mat-icon>
          </a>
          <a mat-icon-button (click)="$event.stopPropagation()">
            <mat-icon inline="inline">delete</mat-icon>
          </a>
          <a mat-icon-button (click)="$event.stopPropagation()">
            <mat-icon inline="inline">save_alt</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsClient"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsClient;"
          (click)="selectClient(row)">
      </tr>
    </table>

  </div>
  <div *ngIf="dataSourceClient && dataSourceClient.data.length == 0" class="no_data">
    <span>You have no OAuth client ID</span>
  </div>
</div>
