<div class="navbar-container" [class.navbar-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="navbar-toolbar" [class.mat-elevation-z2]="false" [class.mat-elevation-z8]="true">

    <button mat-icon-button matTooltip="Navigation Menu" (click)="snav.toggle()">
      <!--      <mat-icon>menu</mat-icon>-->
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-button [routerLink]="[{outlets: {navcontent: ['dashboard']}}]">
      <span class="navbar-app-name">Shield APIs</span>
    </a>

    <span class="toolbar-spacer"></span>

    <button mat-icon-button matTooltip="Help">
      <mat-icon>help</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Notifications">
      <mat-icon matBadge="5" matBadgeColor="accent">notifications</mat-icon>
    </button>

    <button mat-icon-button matTooltip="Settings" [matMenuTriggerFor]="beforeMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>Preferences</button>
      <button mat-menu-item>Terms of service</button>
    </mat-menu>
    <button mat-icon-button matTooltip="Account" (click)="openProfileDialog()">
      <mat-icon>account_circle</mat-icon>
    </button>
    <!--    <button mat-icon-button>-->
    <!--      <img src="https://material.angular.io/assets/img/homepage/github-circle-white-transparent.svg"/>-->
    <!--    </button>-->
  </mat-toolbar>

  <mat-sidenav-container class="navbar-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <!--    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'fixed'"-->
    <!--                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">-->
    <mat-sidenav #snav mode="side" opened fixedInViewport="false" fixedTopGap="56" class="sidenav-left">
      <mat-nav-list>
        <!--        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">-->
        <!--          {{nav}}-->
        <!--        </a>-->

        <a mat-list-item [routerLink]="[{outlets: {navcontent: ['dashboard']}}]">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </a>
        <a mat-list-item [routerLink]="[{outlets: {navcontent: ['library']}}]">
          <mat-icon>list</mat-icon>
          Library
        </a>
        <a mat-list-item [routerLink]="[{outlets: {navcontent: ['credentials']}}]">
          <mat-icon>vpn_key</mat-icon>
          <span>Credentials</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-right">
      <router-outlet name="navcontent"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
