<!--<mat-tab-group mat-align-tabs="start" class="credentials_content">-->
<!--  <mat-tab label="Credentials">Credentials</mat-tab>-->
<!--  <mat-tab label="OAuth Consent Screen">OAuth Consent Screen</mat-tab>-->
<!--  <mat-tab label="Domain Verification">Domain Verification</mat-tab>-->
<!--</mat-tab-group>-->
<nav mat-tab-nav-bar>
  <a mat-tab-link [routerLink]="[{outlets: {cre_sub: ['cre-tab-credentials']}}]">Credentials</a>
  <a mat-tab-link [routerLink]="[{outlets: {cre_sub: ['cre-tab-oauth-consent-screen']}}]">OAuth Consent Screen</a>
  <a mat-tab-link [routerLink]="[{outlets: {cre_sub: ['cre-tab-domain-verification']}}]">Domain Verification</a>
</nav>
<router-outlet name="cre_sub"></router-outlet>
