<div class="all">
  <mat-toolbar>
    <a mat-icon-button color="primary" (click)="goBack()">
      <mat-icon>keyboard_backspace</mat-icon>
    </a>
    <span>Client ID for Web application</span>
    <a mat-button color="primary">
      <mat-icon>save_alt</mat-icon>
      <span>DOWNLOAD JSON</span>
    </a>
    <a mat-button color="primary">
      <mat-icon>replay</mat-icon>
      <span>RESET SECRET</span>
    </a>
    <a mat-button color="primary">
      <mat-icon>delete</mat-icon>
      <span>DELETE</span>
    </a>
  </mat-toolbar>
  <div class="content">
    <table width="100%">
      <tr>
        <td><b>Client ID</b></td>
        <td>{{client.clientID}}</td>
      </tr>
      <tr>
        <td><b>Secret</b></td>
        <td>{{client.secret}}</td>
      </tr>
      <tr>
        <td><b>Creation date</b></td>
        <td>{{client.creationDate}}</td>
      </tr>

    </table>
    <div class="content_for_input">
      <div>
        <b>Name</b>
        <div>
          <input placeholder="OAuth2.0 client name" [value]="client.name" class="input_name">
        </div>
      </div>
      <div>
        <b>Restrictions</b>
        <div>
          Enter JavaScript origins, redirect URIs, or both <a routerLink="#">Learn More</a> <br/>
          Origins and redirect domains must be added to the list of Authorized Domains in the
          <a routerLink="#">OAuth consent settings</a>.
        </div>
      </div>

      <div>
        <div>
          <b>Authorized JavaScript origins</b>
        </div>
        <div class="div_indent">

          <div>
            For use with requests from a browser. This is the origin URI of the client application.
            It can't contain a wildcard (https://*.example.com) or a path (https://example.com/subdir).
            If you're using a nonstandard port, you must include it in the origin URI.
          </div>
          <div>
            <input placeholder="https://www.example.com" class="input_name">
          </div>
          <div>
            Type in the domain and press Enter to add it
          </div>
        </div>
      </div>

      <div>
        <div>
          <b>Authorized redirect URIs</b>
        </div>
        <div class="div_indent">
          <div>
            For use with requests from a web server. This is the path in your application that users are redirected to
            after they have authenticated with Google. The path will be appended with the authorization code for access.
            Must have a protocol. Cannot contain URL fragments or relative paths. Cannot be a public IP address.
          </div>
          <div>
            <input placeholder="https://www.example.com" class="input_name">
          </div>
          <div>
            Type in the domain and press Enter to add it
          </div>
        </div>
      </div>

    </div>

    <div>
      <button mat-flat-button color="primary" class="bt">
        Save
      </button>
      <button mat-stroked-button color="primary" class="bt">
        Cancel
      </button>
    </div>
  </div>
</div>
