
mat-toolbar {
  padding: 5px;
  font-size: 13px;
}

mat-toolbar a {
  margin: 10px;
  font-size: 12px;
}

mat-toolbar a mat-icon {
  margin-right: 5px;
}

.content {
  width: 550px;
  text-align: left;
  font-size: 13px;
  padding-left: 40px;
}

span {
  text-align: left;
}

table td {
  height: 25px;
}

.input_name {
  /*margin-left: 5px;*/
  /*margin-top: 5px;*/
  width: 100%;
}

.content_for_input {
  margin-top: 5px;
  /*padding: 1px;*/
}

label {
  /*margin-top: 10px;*/
}

div {
  padding-top: 10px;
}

.bt {
  margin-top: 20px;
  margin-right: 10px;
  height: 2rem;
  line-height: 2rem;
  min-height: 2rem;
}

.div_indent {
  padding-left: 20px;
}

