/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}


.custom-dialog-container .mat-dialog-container {
  padding: 15px;
}

.credentials_content .mat-tab-label {
  font-size: 12px;
  padding-left: 6px;
  padding-right: 6px;
}
